<h3>Update Budget {{id}} </h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label for="dotationBase">Dotation Base</label>
      <input type="number" class="form-control" id="dotationBase" required [(ngModel)]="budget.dotationBase" name="dotationBase">
    </div>

    <div class="form-group">
      <label for="name">Dotation Recherche</label>
      <input type="number" class="form-control" id="lastName" required [(ngModel)]="budget.dotationRecherche" name="lastName">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>